@responsive [style*="--rs-min-w-s:"] {
	@variable --rs-min-w 0;
}

@responsive .root {
	@value literal {
		--rs-min-w-resolved: var(--rs-min-w);
	}

	@value unit {
		--rs-min-w-resolved: calc(var(--rs-min-w) * var(--rs-unit-x1));
	}
}

[style*="--rs-min-w-s:"] {
	min-width: var(--rs-min-w-resolved);
}
