.root {
  --rs-form-control-gap: 1;
	--rs-form-control-gap-value: calc(var(--rs-form-control-gap) * var(--rs-unit-x1));

	border: none;
}

.label {
	display: block;
		margin-bottom: var(--rs-form-control-gap-value);

	&:last-child {
		margin-bottom: 0;
	}
}

.caption {
	margin-top: var(--rs-form-control-gap-value);
	display: block;
}

.caption + .caption {
	margin-top: 0;
}

.--size-large {
	--rs-form-control-gap: 1.5;
}