.root {
	border: none;
}

.label {
	display: block;
	margin-bottom: var(--rs-unit-x1);

	&:last-child {
		margin-bottom: 0;
	}
}

.caption {
	margin-top: var(--rs-unit-x1);
	display: block;
}

.caption + .caption {
	margin-top: 0;
}
