@responsive .--border {
	@value neutral {
		--rs-border-color: var(--rs-color-border-neutral);
	}

	@value neutral-muted {
		--rs-border-color: var(--rs-color-border-neutral-muted);
	}

	@value positive {
		--rs-border-color: var(--rs-color-border-positive);
	}

	@value positive-muted {
		--rs-border-color: var(--rs-color-border-positive-muted);
	}

	@value warning {
		--rs-border-color: var(--rs-color-border-warning);
	}

	@value warning-muted {
		--rs-border-color: var(--rs-color-border-warning-muted);
	}

	@value critical {
		--rs-border-color: var(--rs-color-border-critical);
	}

	@value critical-muted {
		--rs-border-color: var(--rs-color-border-critical-muted);
	}

	@value primary {
		--rs-border-color: var(--rs-color-border-primary);
	}

	@value primary-muted {
		--rs-border-color: var(--rs-color-border-primary-muted);
	}

	@value disabled {
		--rs-border-color: var(--rs-color-border-disabled);
	}

	@value brand {
		--rs-border-color: var(--rs-color-brand);
	}

	@value transparent {
		--rs-border-color: transparent;
	}
}
