@responsive .root[style*="--rs-bleed-"] {
	@variable --rs-bleed 0;

	margin-left: calc(var(--rs-unit-x1) * var(--rs-bleed) * -1);
	margin-right: calc(var(--rs-unit-x1) * var(--rs-bleed) * -1);
}

@responsive .--bleed {
	@value true {
		border-left-style: none !important;
		border-right-style: none !important;
		border-radius: 0 !important;
	}

	@value false {
		border-left-style: solid !important;
		border-right-style: solid !important;

		/* Depends on the radius css utility */
		border-radius: var(--rs-radius) !important;
	}
}
