/* 
Not using layers for now to avoid conflicts with Tailwind v3 preflight 
since it reset the border width/color without using @layer
*/

.root {
	display: inline-flex;
	gap: var(--rs-checkbox-gap);
	vertical-align: top;
	align-items: center;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
	.root:hover .decorator {
		background: var(--rs-color-background-neutral-faded);
	}
}

.field {
	position: relative;
}

.decorator {
	--rs-checkbox-border-color: var(--rs-color-border-neutral);

	position: relative;
	width: var(--rs-checkbox-line-height);
	height: var(--rs-checkbox-line-height);
	border-radius: var(--rs-radius-small);
	color: var(--rs-color-on-background-primary);
	background: var(--rs-color-background-elevation-base);
	transition: var(--rs-duration-fast) var(--rs-easing-standard);
	transition-property: background-color;

	/* Same as border / shadow mixins: border on ::before, shadow on ::after */
	&::before,
	&::after {
		content: "";
		position: absolute;
		pointer-events: none;
		border-radius: inherit;
		z-index: var(--rs-z-index-relative);
	}

	&::before {
		inset: 0;
		border: 1px solid var(--rs-checkbox-border-color);
		transition: var(--rs-duration-fast) var(--rs-easing-standard);
		transition-property: border-color;
	}

	&::after {
		inset: 1px;
		box-shadow: var(--rs-shadow-outline);
	}
}

.dash {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 1.5px;
	border-radius: var(--rs-radius-circular);
	width: calc(var(--rs-checkbox-line-height) * 0.5);
	background: var(--rs-color-on-background-primary);
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
	transition: var(--rs-duration-fast) var(--rs-easing-decelerate);
	transition-property: opacity, transform;
}

@responsive .--size {
	@value small {
		--rs-checkbox-line-height: var(--rs-line-height-caption-1);
		--rs-checkbox-gap: var(--rs-unit-x1-5);
	}

	@value medium {
		--rs-checkbox-line-height: var(--rs-line-height-body-2);
		--rs-checkbox-gap: var(--rs-unit-x2);
	}

	@value large {
		--rs-checkbox-line-height: var(--rs-line-height-body-1);
		--rs-checkbox-gap: var(--rs-unit-x2);
	}
}

.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;

	/* Overrid default icon color transition */
	transition: var(--rs-duration-fast) var(--rs-easing-decelerate) !important;
	transition-property: opacity, transform !important;
}

[data-rs-keyboard] .input:focus + .decorator {
	outline: var(--rs-outline);
	outline-offset: var(--rs-outline-width);
}

.root.--error .input:not(:checked, :indeterminate) + .decorator::before {
	border-color: var(--rs-color-border-critical);
	border-width: var(--rs-outline-width);
}

.input:indeterminate + .decorator,
.input:checked + .decorator {
	--rs-checkbox-border-color: var(--rs-color-background-primary);

	background: var(--rs-color-background-primary);
}

.input:indeterminate + .decorator .dash,
.input:checked + .decorator .icon {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

.root.--disabled {
	cursor: not-allowed;
	color: var(--rs-color-foreground-disabled);

	& .decorator {
		--rs-checkbox-border-color: var(--rs-color-border-disabled);

		background: var(--rs-color-background-disabled-faded);
		color: var(--rs-color-foreground-disabled);
	}

	& .input:checked + .decorator,
	& .input:indeterminate + .decorator {
		--rs-checkbox-border-color: transparent;

		background: var(--rs-color-background-disabled);

		& .dash {
			background-color: var(--rs-color-foreground-disabled);
		}
	}
}
