{
	"extends": ["stylelint-config-standard"],
	"plugins": ["stylelint-browser-compat"],
	"rules": {
		"selector-class-pattern": null,
		"no-descending-specificity": null,
		"custom-property-pattern": null,
		"selector-no-vendor-prefix": null,
		"property-no-vendor-prefix": null,
		"declaration-block-no-redundant-longhand-properties": null,
		"color-function-notation": "modern",
		"color-function-alias-notation": null,
		"nesting-selector-no-missing-scoping-root": null,
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": ["responsive", "value", "variable", "each"]
			}
		],
		"layer-name-pattern": "^[a-z][a-z0-9.-]*$",
		"media-query-no-invalid": null,
		"plugin/browser-compat": [
			true,
			{
				"browserslist": ["baseline widely available with downstream"],
				"allow": {
					"features": [
						"selectors.has",
						"selectors.-webkit-scrollbar",
						"selectors.not.selector_list",
						"properties.scrollbar-width",
						"properties.-webkit-tap-highlight-color"
					]
				}
			}
		]
	}
}
