@layer rs.text.reset {
	.root {
		font-family: unset;
		font-size: unset;
		font-weight: unset;
		margin: 0;
		padding: 0;
		font-style: normal;
		letter-spacing: 0;
		text-decoration: none;
		text-indent: 0;
		text-shadow: none;
		text-transform: none;
	}
}

.root {
	/* In case parent changes its color, aligned with Icon */
	transition: color var(--rs-duration-fast) var(--rs-easing-standard);
}

.--clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--rs-text-lines);
	overflow: hidden;
}

.--break-all {
	word-break: break-all;
}

.--wrap-balance {
	text-wrap: balance;
}

.--numeric {
	font-variant-numeric: tabular-nums;
}

@responsive .--variant {
	@value title-1 {
		font-size: var(--rs-font-size-title-1);
		line-height: var(--rs-line-height-title-1);
		letter-spacing: var(--rs-letter-spacing-title-1);
		font-weight: var(--rs-font-weight-title-1);
		font-family: var(--rs-font-family-title-1);
	}

	@value title-2 {
		font-size: var(--rs-font-size-title-2);
		line-height: var(--rs-line-height-title-2);
		letter-spacing: var(--rs-letter-spacing-title-2);
		font-weight: var(--rs-font-weight-title-2);
		font-family: var(--rs-font-family-title-2);
	}

	@value title-3 {
		font-size: var(--rs-font-size-title-3);
		line-height: var(--rs-line-height-title-3);
		letter-spacing: var(--rs-letter-spacing-title-3);
		font-weight: var(--rs-font-weight-title-3);
		font-family: var(--rs-font-family-title-3);
	}

	@value title-4 {
		font-size: var(--rs-font-size-title-4);
		line-height: var(--rs-line-height-title-4);
		letter-spacing: var(--rs-letter-spacing-title-4);
		font-weight: var(--rs-font-weight-title-4);
		font-family: var(--rs-font-family-title-4);
	}

	@value title-5 {
		font-size: var(--rs-font-size-title-5);
		line-height: var(--rs-line-height-title-5);
		letter-spacing: var(--rs-letter-spacing-title-5);
		font-weight: var(--rs-font-weight-title-5);
		font-family: var(--rs-font-family-title-5);
	}

	@value title-6 {
		font-size: var(--rs-font-size-title-6);
		line-height: var(--rs-line-height-title-6);
		letter-spacing: var(--rs-letter-spacing-title-6);
		font-weight: var(--rs-font-weight-title-6);
		font-family: var(--rs-font-family-title-6);
	}

	@value featured-1 {
		font-size: var(--rs-font-size-featured-1);
		line-height: var(--rs-line-height-featured-1);
		letter-spacing: var(--rs-letter-spacing-featured-1);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-featured-1);
	}

	@value featured-2 {
		font-size: var(--rs-font-size-featured-2);
		line-height: var(--rs-line-height-featured-2);
		letter-spacing: var(--rs-letter-spacing-featured-2);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-featured-2);
	}

	@value featured-3 {
		font-size: var(--rs-font-size-featured-3);
		line-height: var(--rs-line-height-featured-3);
		letter-spacing: var(--rs-letter-spacing-featured-3);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-featured-3);
	}

	@value body-1 {
		font-size: var(--rs-font-size-body-1);
		line-height: var(--rs-line-height-body-1);
		letter-spacing: var(--rs-letter-spacing-body-1);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-body-1);
	}

	@value body-2 {
		font-size: var(--rs-font-size-body-2);
		line-height: var(--rs-line-height-body-2);
		letter-spacing: var(--rs-letter-spacing-body-2);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-body-2);
	}

	@value body-3 {
		font-size: var(--rs-font-size-body-3);
		line-height: var(--rs-line-height-body-3);
		letter-spacing: var(--rs-letter-spacing-body-3);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-body-3);
	}

	@value caption-1 {
		font-size: var(--rs-font-size-caption-1);
		line-height: var(--rs-line-height-caption-1);
		letter-spacing: var(--rs-letter-spacing-caption-1);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-caption-1);
	}

	@value caption-2 {
		font-size: var(--rs-font-size-caption-2);
		line-height: var(--rs-line-height-caption-2);
		letter-spacing: var(--rs-letter-spacing-caption-2);
		font-weight: var(--rs-font-weight-regular);
		font-family: var(--rs-font-family-caption-2);
	}
}

@responsive .--weight {
	@value regular {
		font-weight: var(--rs-font-weight-regular) !important;
	}

	@value medium {
		font-weight: var(--rs-font-weight-medium) !important;
	}

	@value bold {
		font-weight: var(--rs-font-weight-bold) !important;
	}
}

@each $color in neutral, neutral-faded, primary, warning, positive, critical, disabled {
	.--color-$(color) {
		color: var(--rs-color-foreground-$(color));
	}
}

.--decoration-line-through {
	text-decoration: line-through;
}

.--monospace {
	font-family: var(--rs-font-family-monospace);
}
