.root {
	border-radius: var(--rs-radius);
}

@responsive .--radius {
	@value none {
		--rs-radius: 0;
	}

	@value small {
		--rs-radius: var(--rs-radius-small);
	}

	@value medium {
		--rs-radius: var(--rs-radius-medium);
	}

	@value large {
		--rs-radius: var(--rs-radius-large);
	}

	@value circular {
		--rs-radius: 9999px;
	}
}
