@layer rs.components.avatar {
	.root {
		display: flex;
		align-items: center;
		justify-content: center;

		/* Depends on getHeightStyles */
		font-size: calc(var(--rs-h) / 3);
		font-weight: var(--rs-font-weight-bold);
		aspect-ratio: 1;
		line-height: 100%;
	}
}
