@responsive [style*="--rs-max-h-s:"] {
	@variable --rs-max-h 0;
}

@responsive .root {
	@value literal {
		--rs-max-h-resolved: var(--rs-max-h);
	}

	@value unit {
		--rs-max-h-resolved: calc(var(--rs-max-h) * var(--rs-unit-x1));
	}
}

[style*="--rs-max-h-s:"] {
	max-height: var(--rs-max-h-resolved);
}
