@responsive .root[style*="--rs-max-h-"] {
	@variable --rs-max-h none;
}

@responsive .--type {
	@value literal {
		max-height: var(--rs-max-h) !important;
	}

	@value unit {
		max-height: calc(var(--rs-max-h) * var(--rs-unit-x1)) !important;
	}
}
