
			[data-rs-theme~="figma"] {
					--rs-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 500;
--rs-font-weight-semibold: 600;
--rs-font-weight-bold: 700;
--rs-font-weight-extrabold: 800;
--rs-font-weight-black: 900;
--rs-font-size-title-1: 5rem;
--rs-line-height-title-1: 5.25rem;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-semibold);
--rs-letter-spacing-title-1: normal;
--rs-font-size-title-2: 4rem;
--rs-line-height-title-2: 4.25rem;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-semibold);
--rs-letter-spacing-title-2: normal;
--rs-font-size-title-3: 3.5rem;
--rs-line-height-title-3: 3.75rem;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title-3: var(--rs-font-weight-semibold);
--rs-letter-spacing-title-3: normal;
--rs-font-size-title-4: 2.5rem;
--rs-line-height-title-4: 2.75rem;
--rs-font-family-title-4: var(--rs-font-family-title);
--rs-font-weight-title-4: var(--rs-font-weight-semibold);
--rs-letter-spacing-title-4: normal;
--rs-font-size-title-5: 2.25rem;
--rs-line-height-title-5: 2.5rem;
--rs-font-family-title-5: var(--rs-font-family-title);
--rs-font-weight-title-5: var(--rs-font-weight-semibold);
--rs-letter-spacing-title-5: normal;
--rs-font-size-title-6: 1.5rem;
--rs-line-height-title-6: 1.75rem;
--rs-font-family-title-6: var(--rs-font-family-title);
--rs-font-weight-title-6: var(--rs-font-weight-semibold);
--rs-letter-spacing-title-6: normal;
--rs-font-size-featured-1: 1.375rem;
--rs-line-height-featured-1: 1.75rem;
--rs-font-family-featured-1: var(--rs-font-family-body);
--rs-letter-spacing-featured-1: normal;
--rs-font-size-featured-2: 1.25rem;
--rs-line-height-featured-2: 1.75rem;
--rs-font-family-featured-2: var(--rs-font-family-body);
--rs-letter-spacing-featured-2: normal;
--rs-font-size-featured-3: 1.125rem;
--rs-line-height-featured-3: 1.5rem;
--rs-font-family-featured-3: var(--rs-font-family-body);
--rs-letter-spacing-featured-3: normal;
--rs-font-size-body-1: 0.875rem;
--rs-line-height-body-1: 1.25rem;
--rs-font-family-body-1: var(--rs-font-family-body);
--rs-letter-spacing-body-1: normal;
--rs-font-size-body-2: 0.8125rem;
--rs-line-height-body-2: 1.25rem;
--rs-font-family-body-2: var(--rs-font-family-body);
--rs-letter-spacing-body-2: normal;
--rs-font-size-body-3: 0.6875rem;
--rs-line-height-body-3: 1rem;
--rs-font-family-body-3: var(--rs-font-family-body);
--rs-letter-spacing-body-3: normal;
--rs-font-size-caption-1: 0.6875rem;
--rs-line-height-caption-1: 1rem;
--rs-font-family-caption-1: var(--rs-font-family-body);
--rs-letter-spacing-caption-1: normal;
--rs-font-size-caption-2: 0.625rem;
--rs-line-height-caption-2: 0.75rem;
--rs-font-family-caption-2: var(--rs-font-family-body);
--rs-letter-spacing-caption-2: normal;
--rs-unit-base: 4px;
--rs-unit-radius-small: 4px;
--rs-unit-radius-medium: 4px;
--rs-unit-radius-large: 4px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-radius-small: 4px;
--rs-radius-medium: 8px;
--rs-radius-large: 12px;
--rs-color-brand: #0D99FF;
--rs-color-white: #FFFFFF;
--rs-color-black: #000000;
--rs-color-on-background-primary: #FFFFFF;
--rs-color-on-background-critical: oklch(0 0 0);
--rs-color-on-background-warning: oklch(0 0 0);
--rs-color-on-background-positive: oklch(0 0 0);
--rs-color-on-brand: oklch(0 0 0);
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
--rs-duration-rapid: 100ms;
--rs-duration-fast: 200ms;
--rs-duration-medium: 300ms;
--rs-duration-slow: 400ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-raised: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
--rs-shadow-overlay: 0px 10px 24px 0px rgba(0, 0, 0, 0.1), 0px 2px 5px 0px rgba(0, 0, 0, 0.04);
--rs-viewport-m-min: 660;
--rs-viewport-l-min: 900;
--rs-viewport-xl-min: 1280;
--rs-z-index-relative: 10;
--rs-z-index-absolute: 100;
--rs-z-index-fixed: 200;
			}
		
			[data-rs-theme~="figma"][data-rs-color-mode="light"] {
					--rs-color-background-primary: #0D99FF;
--rs-color-background-primary-faded: #E5F4FF;
--rs-color-border-primary: #007BE5;
--rs-color-border-primary-faded: #BDE3FF;
--rs-color-foreground-primary: #007BE5;
--rs-color-background-critical: #F24822;
--rs-color-background-critical-faded: #FFE2E0;
--rs-color-border-critical: #DC3412;
--rs-color-border-critical-faded: #FFC7C2;
--rs-color-foreground-critical: #DC3412;
--rs-color-background-warning: #facc15;
--rs-color-background-warning-faded: #fffae9;
--rs-color-border-warning: #cfa90f;
--rs-color-border-warning-faded: #ece2c4;
--rs-color-foreground-warning: #7b6305;
--rs-color-background-positive: #14AE5C;
--rs-color-background-positive-faded: #DAECDF;
--rs-color-border-positive: #009951;
--rs-color-border-positive-faded: #BBDDC6;
--rs-color-foreground-positive: #009951;
--rs-color-background-neutral: #DFE2EA;
--rs-color-background-neutral-faded: #F5F5F5;
--rs-color-border-neutral: #E6E6E6;
--rs-color-border-neutral-faded: #E6E6E6;
--rs-color-foreground-neutral: #191919;
--rs-color-foreground-neutral-faded: #474747;
--rs-color-background-disabled: #e4e4e4;
--rs-color-background-disabled-faded: #F5F5F5;
--rs-color-border-disabled: #E6E6E6;
--rs-color-foreground-disabled: #B2B2B2;
--rs-color-background-elevation-base: #FFFFFF;
--rs-color-background-elevation-raised: #FFFFFF;
--rs-color-background-elevation-overlay: #FFFFFF;
--rs-color-background-page: #FFFFFF;
--rs-color-background-page-faded: #FAFAFA;
--rs-color-rgb-background-primary: 13.004999999999999, 153, 255;
--rs-color-rgb-background-primary-faded: 228.99, 244.0095, 255;
--rs-color-rgb-background-critical: 241.99499999999998, 72.012, 33.9915;
--rs-color-rgb-background-critical-faded: 255, 226.0065, 223.992;
--rs-color-rgb-background-warning: 250.002, 204, 21.012;
--rs-color-rgb-background-warning-faded: 255, 250.002, 232.99349999999998;
--rs-color-rgb-background-positive: 19.992, 174.012, 92.004;
--rs-color-rgb-background-positive-faded: 217.9995, 236.0025, 222.9975;
--rs-color-on-background-neutral: oklch(0 0 0);
--rs-color-rgb-background-neutral: 222.9975, 226.0065, 233.988;
--rs-color-rgb-background-neutral-faded: 245.004, 245.004, 245.004;
--rs-color-rgb-background-disabled: 227.9955, 227.9955, 227.9955;
--rs-color-rgb-background-disabled-faded: 245.004, 245.004, 245.004;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 255, 255, 255;
--rs-color-rgb-background-elevation-overlay: 255, 255, 255;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 250.002, 250.002, 250.002;
			}
		
			[data-rs-theme~="figma"][data-rs-color-mode="dark"] {
					--rs-color-background-primary: #0C8CE9;
--rs-color-background-primary-faded: #394360;
--rs-color-border-primary: #7CC4F8;
--rs-color-border-primary-faded: #2A4D72;
--rs-color-foreground-primary: #7CC4F8;
--rs-color-background-critical: #E03E1A;
--rs-color-background-critical-faded: #60332A;
--rs-color-border-critical: #FCA397;
--rs-color-border-critical-faded: #803226;
--rs-color-foreground-critical: #FCA397;
--rs-color-background-warning: #f1c512;
--rs-color-background-warning-faded: #2c271f;
--rs-color-border-warning: #b4920a;
--rs-color-border-warning-faded: #453c1e;
--rs-color-foreground-warning: #b4920c;
--rs-color-background-positive: #198F51;
--rs-color-background-positive-faded: #3d5749;
--rs-color-border-positive: #79D297;
--rs-color-border-positive-faded: #086338;
--rs-color-foreground-positive: #79D297;
--rs-color-background-neutral: #444444;
--rs-color-background-neutral-faded: #383838;
--rs-color-border-neutral: #444444;
--rs-color-border-neutral-faded: #444444;
--rs-color-foreground-neutral: #FFFFFF;
--rs-color-foreground-neutral-faded: #B2B2B2;
--rs-color-background-disabled: #474747;
--rs-color-background-disabled-faded: #3A3A3A;
--rs-color-border-disabled: #3E3E3E;
--rs-color-foreground-disabled: #656565;
--rs-color-background-elevation-base: #2C2C2C;
--rs-color-background-elevation-raised: #2C2C2C;
--rs-color-background-elevation-overlay: #2C2C2C;
--rs-color-background-page: #2C2C2C;
--rs-color-background-page-faded: #1E1E1E;
--rs-color-rgb-background-primary: 12.0105, 139.995, 232.99349999999998;
--rs-color-rgb-background-primary-faded: 56.9925, 66.9885, 96.00750000000001;
--rs-color-rgb-background-critical: 223.992, 61.990500000000004, 26.009999999999998;
--rs-color-rgb-background-critical-faded: 96.00750000000001, 51, 41.9985;
--rs-color-rgb-background-warning: 241.00050000000002, 196.98749999999998, 18.003;
--rs-color-rgb-background-warning-faded: 43.9875, 38.9895, 31.008;
--rs-color-rgb-background-positive: 24.990000000000002, 143.004, 80.988;
--rs-color-rgb-background-positive-faded: 60.996, 87.006, 73.0065;
--rs-color-on-background-neutral: oklch(1 0 0);
--rs-color-rgb-background-neutral: 68.0085, 68.0085, 68.0085;
--rs-color-rgb-background-neutral-faded: 55.998, 55.998, 55.998;
--rs-color-rgb-background-disabled: 70.99199999999999, 70.99199999999999, 70.99199999999999;
--rs-color-rgb-background-disabled-faded: 58.0125, 58.0125, 58.0125;
--rs-color-rgb-background-elevation-base: 43.9875, 43.9875, 43.9875;
--rs-color-rgb-background-elevation-raised: 43.9875, 43.9875, 43.9875;
--rs-color-rgb-background-elevation-overlay: 43.9875, 43.9875, 43.9875;
--rs-color-rgb-background-page: 43.9875, 43.9875, 43.9875;
--rs-color-rgb-background-page-faded: 29.988, 29.988, 29.988;
			}
		