
			[data-rs-theme="figma"] {
					--rs-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 500;
--rs-font-weight-semibold: 600;
--rs-font-weight-bold: 700;
--rs-font-weight-extrabold: 800;
--rs-font-weight-black: 900;
--rs-font-size-title-1: 5.714285714285714rem;
--rs-line-height-title-1: 6rem;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-semibold);
--rs-font-size-title-2: 4.571428571428571rem;
--rs-line-height-title-2: 4.857142857142857rem;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-semibold);
--rs-font-size-title-3: 4rem;
--rs-line-height-title-3: 4.285714285714286rem;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title-3: var(--rs-font-weight-semibold);
--rs-font-size-title-4: 2.857142857142857rem;
--rs-line-height-title-4: 3.142857142857143rem;
--rs-font-family-title-4: var(--rs-font-family-title);
--rs-font-weight-title-4: var(--rs-font-weight-semibold);
--rs-font-size-title-5: 2.5714285714285716rem;
--rs-line-height-title-5: 2.857142857142857rem;
--rs-font-family-title-5: var(--rs-font-family-title);
--rs-font-weight-title-5: var(--rs-font-weight-semibold);
--rs-font-size-title-6: 1.7142857142857142rem;
--rs-line-height-title-6: 2rem;
--rs-font-family-title-6: var(--rs-font-family-title);
--rs-font-weight-title-6: var(--rs-font-weight-semibold);
--rs-font-size-featured-1: 1.5714285714285714rem;
--rs-line-height-featured-1: 2rem;
--rs-font-family-featured-1: var(--rs-font-family-body);
--rs-font-size-featured-2: 1.4285714285714286rem;
--rs-line-height-featured-2: 2rem;
--rs-font-family-featured-2: var(--rs-font-family-body);
--rs-font-size-featured-3: 1.2857142857142858rem;
--rs-line-height-featured-3: 1.7142857142857142rem;
--rs-font-family-featured-3: var(--rs-font-family-body);
--rs-font-size-body-1: 1rem;
--rs-line-height-body-1: 1.4285714285714286rem;
--rs-font-family-body-1: var(--rs-font-family-body);
--rs-font-size-body-2: 0.9285714285714286rem;
--rs-line-height-body-2: 1.4285714285714286rem;
--rs-font-family-body-2: var(--rs-font-family-body);
--rs-font-size-body-3: 0.7857142857142857rem;
--rs-line-height-body-3: 1.1428571428571428rem;
--rs-font-family-body-3: var(--rs-font-family-body);
--rs-font-size-caption-1: 0.7857142857142857rem;
--rs-line-height-caption-1: 1.1428571428571428rem;
--rs-font-family-caption-1: var(--rs-font-family-body);
--rs-font-size-caption-2: 0.7142857142857143rem;
--rs-line-height-caption-2: 0.8571428571428571rem;
--rs-font-family-caption-2: var(--rs-font-family-body);
--rs-unit-base: 4px;
--rs-unit-radius-small: 4px;
--rs-unit-radius-medium: 4px;
--rs-unit-radius-large: 4px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-radius-small: 4px;
--rs-radius-medium: 8px;
--rs-radius-large: 12px;
--rs-color-brand: #5a58f2;
--rs-color-white: #FFFFFF;
--rs-color-black: #000000;
--rs-color-on-background-primary: #FFFFFF;
--rs-color-on-background-critical: #000000;
--rs-color-on-background-warning: #000000;
--rs-color-on-background-positive: #000000;
--rs-color-on-brand: #FFFFFF;
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
--rs-duration-fast: 200ms;
--rs-duration-medium: 300ms;
--rs-duration-slow: 400ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-raised: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
--rs-shadow-overlay: 0px 10px 24px 0px rgba(0, 0, 0, 0.1), 0px 2px 5px 0px rgba(0, 0, 0, 0.04);
			}
		
			[data-rs-theme="figma"][data-rs-color-mode="light"] {
					--rs-color-background-primary: #0D99FF;
--rs-color-background-primary-faded: #E5F4FF;
--rs-color-border-primary: #007BE5;
--rs-color-border-primary-faded: #BDE3FF;
--rs-color-foreground-primary: #007BE5;
--rs-color-background-critical: #F24822;
--rs-color-background-critical-faded: #FFE2E0;
--rs-color-border-critical: #DC3412;
--rs-color-border-critical-faded: #FFC7C2;
--rs-color-foreground-critical: #DC3412;
--rs-color-background-warning: #facc15;
--rs-color-background-warning-faded: #fffae9;
--rs-color-border-warning: #cfa90f;
--rs-color-border-warning-faded: #faedbb;
--rs-color-foreground-warning: #7b6305;
--rs-color-background-positive: #14AE5C;
--rs-color-background-positive-faded: #DAECDF;
--rs-color-border-positive: #009951;
--rs-color-border-positive-faded: #BBDDC6;
--rs-color-foreground-positive: #009951;
--rs-color-background-neutral: #DFE2EA;
--rs-color-background-neutral-faded: #F5F5F5;
--rs-color-border-neutral: #E6E6E6;
--rs-color-border-neutral-faded: #E6E6E6;
--rs-color-foreground-neutral: #191919;
--rs-color-foreground-neutral-faded: #474747;
--rs-color-background-disabled: #e4e4e4;
--rs-color-background-disabled-faded: #F5F5F5;
--rs-color-border-disabled: #E6E6E6;
--rs-color-foreground-disabled: #B2B2B2;
--rs-color-background-elevation-base: #FFFFFF;
--rs-color-background-elevation-raised: #FFFFFF;
--rs-color-background-elevation-overlay: #FFFFFF;
--rs-color-background-page: #FFFFFF;
--rs-color-background-page-faded: #FAFAFA;
--rs-color-background-neutral-highlighted: #D4D8E3;
--rs-color-background-primary-highlighted: #007BE5;
--rs-color-background-positive-highlighted: #009951;
--rs-color-background-critical-highlighted: #DC3412;
--rs-color-rgb-background-primary: 13, 153, 255;
--rs-color-rgb-background-primary-faded: 229, 244, 255;
--rs-color-rgb-background-critical: 242, 72, 34;
--rs-color-rgb-background-critical-faded: 255, 226, 224;
--rs-color-rgb-background-warning: 250, 204, 21;
--rs-color-rgb-background-warning-faded: 255, 250, 233;
--rs-color-rgb-background-positive: 20, 174, 92;
--rs-color-rgb-background-positive-faded: 218, 236, 223;
--rs-color-on-background-neutral: #000000;
--rs-color-rgb-background-neutral: 223, 226, 234;
--rs-color-rgb-background-neutral-faded: 245, 245, 245;
--rs-color-rgb-background-disabled: 228, 228, 228;
--rs-color-rgb-background-disabled-faded: 245, 245, 245;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 255, 255, 255;
--rs-color-rgb-background-elevation-overlay: 255, 255, 255;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 250, 250, 250;
--rs-color-rgb-background-neutral-highlighted: 212, 216, 227;
--rs-color-rgb-background-primary-highlighted: 0, 123, 229;
--rs-color-rgb-background-positive-highlighted: 0, 153, 81;
--rs-color-rgb-background-critical-highlighted: 220, 52, 18;
			}
		
			[data-rs-theme="figma"][data-rs-color-mode="dark"] {
					--rs-color-background-primary: #0C8CE9;
--rs-color-background-primary-faded: #394360;
--rs-color-border-primary: #7CC4F8;
--rs-color-border-primary-faded: #2A4D72;
--rs-color-foreground-primary: #7CC4F8;
--rs-color-background-critical: #E03E1A;
--rs-color-background-critical-faded: #60332A;
--rs-color-border-critical: #FCA397;
--rs-color-border-critical-faded: #803226;
--rs-color-foreground-critical: #FCA397;
--rs-color-background-warning: #f1c512;
--rs-color-background-warning-faded: #2c271f;
--rs-color-border-warning: #b4920a;
--rs-color-border-warning-faded: #3d3628;
--rs-color-foreground-warning: #b4920c;
--rs-color-background-positive: #198F51;
--rs-color-background-positive-faded: #3d5749;
--rs-color-border-positive: #79D297;
--rs-color-border-positive-faded: #086338;
--rs-color-foreground-positive: #79D297;
--rs-color-background-neutral: #444444;
--rs-color-background-neutral-faded: #383838;
--rs-color-border-neutral: #444444;
--rs-color-border-neutral-faded: #444444;
--rs-color-foreground-neutral: #FFFFFF;
--rs-color-foreground-neutral-faded: #B2B2B2;
--rs-color-background-disabled: #474747;
--rs-color-background-disabled-faded: #3A3A3A;
--rs-color-border-disabled: #3E3E3E;
--rs-color-foreground-disabled: #656565;
--rs-color-background-elevation-base: #2C2C2C;
--rs-color-background-elevation-raised: #2C2C2C;
--rs-color-background-elevation-overlay: #2C2C2C;
--rs-color-background-page: #2C2C2C;
--rs-color-background-page-faded: #1E1E1E;
--rs-color-background-neutral-highlighted: #525252;
--rs-color-background-primary-highlighted: #0A6DC2;
--rs-color-background-positive-highlighted: #078348;
--rs-color-background-critical-highlighted: #C4381C;
--rs-color-rgb-background-primary: 12, 140, 233;
--rs-color-rgb-background-primary-faded: 57, 67, 96;
--rs-color-rgb-background-critical: 224, 62, 26;
--rs-color-rgb-background-critical-faded: 96, 51, 42;
--rs-color-rgb-background-warning: 241, 197, 18;
--rs-color-rgb-background-warning-faded: 44, 39, 31;
--rs-color-rgb-background-positive: 25, 143, 81;
--rs-color-rgb-background-positive-faded: 61, 87, 73;
--rs-color-on-background-neutral: #FFFFFF;
--rs-color-rgb-background-neutral: 68, 68, 68;
--rs-color-rgb-background-neutral-faded: 56, 56, 56;
--rs-color-rgb-background-disabled: 71, 71, 71;
--rs-color-rgb-background-disabled-faded: 58, 58, 58;
--rs-color-rgb-background-elevation-base: 44, 44, 44;
--rs-color-rgb-background-elevation-raised: 44, 44, 44;
--rs-color-rgb-background-elevation-overlay: 44, 44, 44;
--rs-color-rgb-background-page: 44, 44, 44;
--rs-color-rgb-background-page-faded: 30, 30, 30;
--rs-color-rgb-background-neutral-highlighted: 82, 82, 82;
--rs-color-rgb-background-primary-highlighted: 10, 109, 194;
--rs-color-rgb-background-positive-highlighted: 7, 131, 72;
--rs-color-rgb-background-critical-highlighted: 196, 56, 28;
			}
		