.root {
	display: contents;
}

@responsive .--hidden {
	@value true {
		display: none;

		&.--visibility {
			display: contents;
			visibility: hidden;
		}
	}

	@value false {
		display: contents;

		&.--visibility {
			visibility: visible;
		}
	}
}
