/* Dependencies */
@layer rs.mixins.radius, rs.mixins.border, rs.mixins.bleed;

@layer rs.mixins.bleed {
	@responsive .root[style*="--rs-bleed-"] {
		@variable --rs-bleed 0;

		margin-left: calc(var(--rs-unit-x1) * var(--rs-bleed) * -1);
		margin-right: calc(var(--rs-unit-x1) * var(--rs-bleed) * -1);
	}

	@responsive .--bleed {
		@value true {
			border-radius: 0;

			&::before {
				border-left-style: none;
				border-right-style: none;
			}
		}

		@value false {
			border-radius: var(--rs-radius);

			&::before {
				border-left-style: solid;
				border-right-style: solid;
			}
		}
	}
}
