@theme inline {
    --background-color-primary: var(--rs-color-background-primary);
--background-color-primary-muted: var(--rs-color-background-primary-muted);
--background-color-primary-highlighted-muted: var(--rs-color-background-primary-highlighted-muted);
--border-color-primary: var(--rs-color-border-primary);
--outline-color-primary: var(--rs-color-border-primary);
--border-color-primary-muted: var(--rs-color-border-primary-muted);
--outline-color-primary-muted: var(--rs-color-border-primary-muted);
--text-color-primary: var(--rs-color-foreground-primary);
--background-color-critical: var(--rs-color-background-critical);
--background-color-critical-muted: var(--rs-color-background-critical-muted);
--background-color-critical-highlighted-muted: var(--rs-color-background-critical-highlighted-muted);
--border-color-critical: var(--rs-color-border-critical);
--outline-color-critical: var(--rs-color-border-critical);
--border-color-critical-muted: var(--rs-color-border-critical-muted);
--outline-color-critical-muted: var(--rs-color-border-critical-muted);
--text-color-critical: var(--rs-color-foreground-critical);
--background-color-warning: var(--rs-color-background-warning);
--background-color-warning-muted: var(--rs-color-background-warning-muted);
--background-color-warning-highlighted-muted: var(--rs-color-background-warning-highlighted-muted);
--border-color-warning: var(--rs-color-border-warning);
--outline-color-warning: var(--rs-color-border-warning);
--border-color-warning-muted: var(--rs-color-border-warning-muted);
--outline-color-warning-muted: var(--rs-color-border-warning-muted);
--text-color-warning: var(--rs-color-foreground-warning);
--background-color-positive: var(--rs-color-background-positive);
--background-color-positive-muted: var(--rs-color-background-positive-muted);
--background-color-positive-highlighted-muted: var(--rs-color-background-positive-highlighted-muted);
--border-color-positive: var(--rs-color-border-positive);
--outline-color-positive: var(--rs-color-border-positive);
--border-color-positive-muted: var(--rs-color-border-positive-muted);
--outline-color-positive-muted: var(--rs-color-border-positive-muted);
--text-color-positive: var(--rs-color-foreground-positive);
--background-color-neutral: var(--rs-color-background-neutral);
--background-color-neutral-muted: var(--rs-color-background-neutral-muted);
--background-color-neutral-highlighted-muted: var(--rs-color-background-neutral-highlighted-muted);
--border-color-neutral: var(--rs-color-border-neutral);
--outline-color-neutral: var(--rs-color-border-neutral);
--border-color-neutral-muted: var(--rs-color-border-neutral-muted);
--outline-color-neutral-muted: var(--rs-color-border-neutral-muted);
--text-color-neutral: var(--rs-color-foreground-neutral);
--text-color-neutral-muted: var(--rs-color-foreground-neutral-muted);
--background-color-disabled: var(--rs-color-background-disabled);
--background-color-disabled-muted: var(--rs-color-background-disabled-muted);
--border-color-disabled: var(--rs-color-border-disabled);
--outline-color-disabled: var(--rs-color-border-disabled);
--text-color-disabled: var(--rs-color-foreground-disabled);
--background-color-elevation-base: var(--rs-color-background-elevation-base);
--background-color-elevation-raised: var(--rs-color-background-elevation-raised);
--background-color-elevation-overlay: var(--rs-color-background-elevation-overlay);
--background-color-page: var(--rs-color-background-page);
--background-color-page-muted: var(--rs-color-background-page-muted);
--color-brand: var(--rs-color-brand);
--color-white: var(--rs-color-white);
--color-black: var(--rs-color-black);
--text-color-on-primary: var(--rs-color-on-background-primary);
--text-color-on-critical: var(--rs-color-on-background-critical);
--text-color-on-warning: var(--rs-color-on-background-warning);
--text-color-on-positive: var(--rs-color-on-background-positive);
--text-color-on-neutral: var(--rs-color-on-background-neutral);
--text-color-on-brand: var(--rs-color-on-brand);
--radius-small: var(--rs-radius-small);
--radius-medium: var(--rs-radius-medium);
--radius-large: var(--rs-radius-large);
--font-weight-regular: var(--rs-font-weight-regular);
--font-weight-medium: var(--rs-font-weight-medium);
--font-weight-semibold: var(--rs-font-weight-semibold);
--font-weight-bold: var(--rs-font-weight-bold);
--font-weight-extrabold: var(--rs-font-weight-extrabold);
--font-weight-black: var(--rs-font-weight-black);
--spacing-0: 0px;
--spacing-x1: var(--rs-unit-x1);
--spacing-x2: var(--rs-unit-x2);
--spacing-x3: var(--rs-unit-x3);
--spacing-x4: var(--rs-unit-x4);
--spacing-x5: var(--rs-unit-x5);
--spacing-x6: var(--rs-unit-x6);
--spacing-x7: var(--rs-unit-x7);
--spacing-x8: var(--rs-unit-x8);
--spacing-x9: var(--rs-unit-x9);
--spacing-x10: var(--rs-unit-x10);
--shadow-border: var(--rs-shadow-border);
--shadow-border-raised: var(--rs-shadow-border-raised);
--shadow-border-overlay: var(--rs-shadow-border-overlay);
--shadow-border-muted: var(--rs-shadow-border-muted);
--shadow-border-muted-raised: var(--rs-shadow-border-muted-raised);
--shadow-border-muted-overlay: var(--rs-shadow-border-muted-overlay);
--shadow-raised: var(--rs-shadow-raised);
--shadow-overlay: var(--rs-shadow-overlay);
--breakpoint-m: 660px;
--breakpoint-l: 900px;
--breakpoint-xl: 1280px;
  }