@responsive .--justify {
	@value start {
		justify-content: flex-start !important;
	}

	@value end {
		justify-content: flex-end !important;
	}

	@value center {
		justify-content: center !important;
	}

	@value space-between {
		justify-content: space-between !important;
	}
}
