@layer rs.reset {
	.root {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		color: inherit;
		line-height: inherit;
		font-size: inherit;
		font-weight: inherit;
		text-align: initial;
		padding: 0;
		border: 0;
		margin: 0;
		background: none;
		position: relative;
		-webkit-tap-highlight-color: transparent;

		&:focus {
			outline: none;
		}

		&:focus-visible {
			outline: none;
			z-index: var(--rs-z-index-raised);
			box-shadow: var(--rs-focus-shadow);
		}

		&.--inset:focus {
			box-shadow: var(--rs-focus-inset-shadow);
		}

		&.--radius-inherit {
			&:focus-visible {
				box-shadow: none;
			}

			&:focus-visible > * {
				box-shadow: var(--rs-focus-shadow);
			}

			&.--inset:focus-visible > * {
				box-shadow: var(--rs-focus-inset-shadow);
			}
		}
	}

	button.root,
	[role="button"].root {
		cursor: pointer;
		user-select: none;
	}

	.root.--disabled,
	.root[disabled] {
		cursor: not-allowed;

		&:active {
			transform: none;
		}
	}

	.--full-width {
		width: 100%;
	}
}
