.root {
	display: grid;
	grid-template-rows: 0fr;

	/* 
  Using standard timing function here to have the same transition curve when animating multiple items together
  */
	transition: grid-template-rows var(--rs-duration-slow) var(--rs-easing-standard);
}

.--active {
	grid-template-rows: 1fr;
}

.--hidden {
	display: none;
}

.inner {
	overflow: hidden;
}
