.root {
	--rs-border-w: 1px;

	border: var(--rs-border-w) solid var(--rs-color-border-neutral-faded);
	background: var(--rs-color-background-elevation-base);
	color: var(--rs-color-foreground-neutral);
	display: block;
	position: relative;
	overflow: hidden;
	text-align: initial;
	transition: var(--rs-duration-fast) var(--rs-easing-accelerate);
	transition-property: box-shadow, border-color;
}

.--selected {
	border-color: transparent;
	box-shadow: 0 0 0 2px var(--rs-color-border-primary);
	transition-timing-function: var(--rs-easing-decelerate);
}

.--elevated {
	background: var(--rs-color-background-elevation-raised);
	box-shadow: var(--rs-shadow-raised);
}

.--actionable:not(.--selected) {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	color: inherit;

	[data-rs-keyboard] &:focus {
		box-shadow: var(--rs-shadow-focus);
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(var(--rs-color-rgb-background-neutral-faded), 32%);
		opacity: 0;
		pointer-events: none;
		transition: opacity var(--rs-duration-fast) var(--rs-easing-standard);
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover::before {
			opacity: 1;
		}
	}
}
