.selection {
	table-layout: fixed;
	width: 100%;
}

.weekday {
	color: var(--rs-color-foreground-neutral-faded);
	font-weight: var(--rs-font-weight-regular);
	padding-bottom: var(--rs-unit-x2);
}

[dir="rtl"] .control {
	transform: scaleX(-1);
}

.cell {
	padding: var(--rs-unit-x0-5);
	isolation: isolate;
	cursor: pointer;

	&:empty {
		cursor: default;
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover .cell-button {
			background-color: var(--rs-color-background-neutral-highlighted-faded);
		}
	}

	&.--active {
		& .cell-button {
			color: var(--rs-color-on-background-primary);
			background-color: var(--rs-color-background-primary);
		}

		&.--selection-range .cell-button {
			color: var(--rs-color-foreground-neutral);
			background-color: var(--rs-color-background-neutral-highlighted-faded);
		}

		&:not(.--selection-range) .cell-button {
			transition: var(--rs-duration-fast) var(--rs-easing-standard);
			transition-property: color, background-color, border-radius;

			&::before {
				transition: var(--rs-duration-fast) var(--rs-easing-standard);
				transition-property: background-color;
			}
		}
	}

	&.--selection-start + &.--selection-end .cell-button::before {
		background-color: var(--rs-color-background-primary);
	}

	&.--selection-start + .--selection-range,
	&.--selection-start + :hover,
	&.--selection-range + .--selection-range,
	&.--selection-range + :hover, 
	&.--selection-range + .--selection-end {
		& .cell-button::before {
			background-color: var(--rs-color-background-neutral-highlighted-faded);
		}
	}

	&.--selection-range:not(:last-child),
	&.--selection-start:not(:last-child) {
		& .cell-button {
			border-start-end-radius: 0;
			border-end-end-radius: 0;
		}
	}

	&.--selection-range + :hover,
	&.--selection-start + :hover,
	&.--selection-range:not(:first-child),
	&.--selection-end:not(:first-child) {
		& .cell-button {
			border-start-start-radius: 0;
			border-end-start-radius: 0;
		}
	}
}

.cell-button {
	border-radius: var(--rs-radius-small);
	padding: var(--rs-unit-x2);
	text-align: center;
	position: relative;
	z-index: 10;

	&[disabled] {
		color: var(--rs-color-foreground-disabled) !important;
		background-color: transparent !important;
	}

	&::before {
		content: "";
		position: absolute;
		inset-block: 0;
		width: var(--rs-unit-x1);
		inset-inline-start: calc(var(--rs-unit-x1) * -1);
		z-index: -10;
	}
}

