.content {
	--rs-flyout-gap: 0;
	--rs-flyout-max-h: 100%;
	--rs-flyout-origin-x: 50%;
	--rs-flyout-origin-y: 50%;

	position: absolute;
	isolation: isolate;

	/* Make content child grow based on its max height with flex grow */
	display: flex;
	flex-direction: column;

	/* Ignore the padding for non-hover trigger types */
	pointer-events: none;

	&.--hover {
		pointer-events: all;
	}

	&.--hover-disabled,
	&.--hover-disabled .inner {
		pointer-events: none;
	}
}

.inner {
	pointer-events: all;
	opacity: 0;
	transform: scale(0.92) translateY(0);
	transform-origin: var(--rs-flyout-origin-x) var(--rs-flyout-origin-y);
	outline: none;
	height: 100%;
	overflow: auto;
	max-width: 100%;
	max-height: var(--rs-flyout-max-h);
	backface-visibility: hidden;

	/* Grow based on its parent's max height */
	flex-grow: 1;

	/* Using 1ms to still trigger transitionEnd event */
	transition: 1ms var(--rs-easing-accelerate);

	[data-rs-keyboard] &:focus {
		box-shadow: var(--rs-shadow-focus);
	}
}

.content.--width-trigger .inner {
	transform: scale(1) translateY(var(--rs-unit-x2));
}

.content.--position-top,
.content.--position-top-end,
.content.--position-top-start {
	--rs-flyout-origin-y: 100%;

	padding-bottom: calc(var(--rs-unit-x1) * var(--rs-flyout-gap));
}

.content.--position-bottom,
.content.--position-bottom-end,
.content.--position-bottom-start {
	--rs-flyout-origin-y: 0%;

	padding-top: calc(var(--rs-unit-x1) * var(--rs-flyout-gap));
}

.content.--position-top-start,
.content.--position-bottom-start {
	--rs-flyout-origin-x: 0%;
}

.content.--position-top-end,
.content.--position-bottom-end {
	--rs-flyout-origin-x: 100%;
}

.content.--position-start,
.content.--position-start-top,
.content.--position-start-bottom {
	--rs-flyout-origin-x: 100%;

	padding-right: calc(var(--rs-unit-x1) * var(--rs-flyout-gap));
}

.content.--position-end,
.content.--position-end-top,
.content.--position-end-bottom {
	--rs-flyout-origin-x: 0%;

	padding-left: calc(var(--rs-unit-x1) * var(--rs-flyout-gap));
}

.content.--position-start-top,
.content.--position-end-top {
	--rs-flyout-origin-y: 0%;
}

.content.--position-start-bottom,
.content.--position-end-bottom {
	--rs-flyout-origin-y: 100%;
}

.content.--visible .inner {
	opacity: 1;
	transform: scale(1) translateY(0);
}

.content.--animated .inner {
	transition-duration: var(--rs-duration-rapid);
	transition-property: opacity, transform;
}

.content.--animated.--visible .inner {
	transition-duration: var(--rs-duration-fast);
	transition-timing-function: var(--rs-easing-decelerate);
}
