@responsive [style*="--rs-max-w-s:"] {
	@variable --rs-max-w 0;
}

@responsive .root {
	@value literal {
		--rs-max-w-resolved: var(--rs-max-w);
	}

	@value unit {
		--rs-max-w-resolved: calc(var(--rs-max-w) * var(--rs-unit-x1));
	}
}

[style*="--rs-max-w-s:"] {
	max-width: var(--rs-max-w-resolved);
}
