@responsive [style*="--rs-ratio-"] {
	@variable --rs-ratio 0;
}

[style*="--rs-ratio-s:"] {
	&:empty {
		aspect-ratio: var(--rs-ratio);
	}

	&:not(:empty) > * {
		aspect-ratio: var(--rs-ratio);
	}

	& > img {
		object-fit: cover;
	}
}
