[style*="--rs-ratio"] {
	&:empty {
		aspect-ratio: var(--rs-ratio);
	}

	&:not(:empty) > * {
		aspect-ratio: var(--rs-ratio);
	}

	& > img {
		object-fit: cover;
	}
}

@responsive [style*="--rs-ratio"] {
	@variable --rs-ratio 0;
}
