@responsive [style*="--rs-min-h-s:"] {
	@variable --rs-min-h 0;
}

@responsive .root {
	@value literal {
		--rs-min-h-resolved: var(--rs-min-h);
	}

	@value unit {
		--rs-min-h-resolved: calc(var(--rs-min-h) * var(--rs-unit-x1));
	}
}

[style*="--rs-min-h-s:"] {
	min-height: var(--rs-min-h-resolved);
}
