.root {
	--rs-skeleton-opacity-start: 0.5;
	--rs-skeleton-opacity-end: 0.25;

	animation: rs-skeleton-pulse 2.5s ease-in-out infinite;
	min-height: var(--rs-unit-x5);

	[data-rs-color-mode="dark"] & {
		--rs-skeleton-opacity-start: 0.3;
		--rs-skeleton-opacity-end: 0.2;
	}
}

@media (prefers-reduced-motion) {
	.root {
		animation: none;
	}
}

@keyframes rs-skeleton-pulse {
	0% {
		opacity: var(--rs-skeleton-opacity-start);
	}

	50% {
		opacity: var(--rs-skeleton-opacity-end);
	}

	100% {
		opacity: var(--rs-skeleton-opacity-start);
	}
}
