@responsive .--align {
	@value start {
		align-items: flex-start !important;
	}

	@value end {
		align-items: flex-end !important;
	}

	@value center {
		align-items: center !important;
	}

	@value stretch {
		align-items: stretch !important;
	}

	@value baseline {
		align-items: baseline !important;
	}
}
