.root {
	/* This variable is only used by Aligner */
	--rs-p-h: var(--rs-text-field-gap);

	display: flex;
	align-items: center;
	position: relative;
	z-index: 0;
	background: var(--rs-color-background-elevation-base);
	border: 1px solid var(--rs-color-border-neutral);
	border-radius: var(--rs-text-field-radius);
	padding: 0 calc(var(--rs-text-field-gap) - 1px);
	column-gap: var(--rs-text-field-gap);

	&:not(:has(button:focus, a:focus, [tabindex="0"]:focus, [role="button"]:focus)):focus-within,
	&:has(label:active),
	&.--focused {
		box-shadow: 0 0 0 1px var(--rs-color-border-primary);
		border-color: var(--rs-color-border-primary);
	}

	&.--multiline {
		flex-wrap: wrap;

		& .input {
			width: auto;
		}
	}

	&.--rounded {
		border-radius: 999px;

		& .affix:first-child,
		& .icon:first-child {
			padding-inline-start: var(--rs-unit-x1);
		}

		& .input:first-child {
			padding-inline-start: calc(var(--rs-text-field-gap) + var(--rs-unit-x1));
		}
	}
}

.inner {
	display: inline-flex;
	flex-grow: 1;
	column-gap: var(--rs-text-field-gap);
}

.input {
	border: none;
	outline: none;
	position: relative;
	z-index: 1;
	background: none;
	flex-grow: 1;
	box-sizing: border-box;
	width: 100%;
	color: var(--rs-color-foreground-neutral);
	margin: 0 calc(var(--rs-text-field-gap) * -1);
	padding-inline: var(--rs-text-field-gap);
	padding-block: calc(var(--rs-text-field-p-v) - 1px);
	font-weight: var(--rs-font-weight-regular);
	font-family: var(--rs-font-family-body);
}

.input:-webkit-autofill {
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--rs-color-foreground-neutral);
}

.input,
.affix {
	font-size: var(--rs-text-field-font-size);
	line-height: var(--rs-text-field-line-height);
	letter-spacing: var(--rs-text-field-letter-spacing);
}

.icon,
.affix {
	cursor: text;
}

.slot,
.icon,
.affix {
	max-width: 100%;
	position: relative;
	z-index: 5;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	min-height: calc(var(--rs-text-field-line-height) + var(--rs-unit-x4) - 2px);
}

/* Ensure that when wrapping to the new line, end attachments stay in the end */
.input + .icon--position-end,
.input + .affix--position-end,
.input + .slot--position-end {
	margin-inline-start: auto;
}

.slot--position-end:last-child {
	margin-inline-end: calc(var(--rs-text-field-gap) * -1);
	padding-inline-end: var(--rs-text-field-action-inset);
}

.affix {
	color: var(--rs-color-foreground-neutral-faded);

	&.affix--position-start {
		padding-inline-end: var(--rs-text-field-gap);

		&::after {
			content: "";
			position: absolute;
			inset-block: var(--rs-unit-x1);
			inset-inline-end: 0;
			border-inline-end: 1px solid var(--rs-color-border-neutral-faded);
		}
	}

	&.affix--position-end {
		padding-inline-start: var(--rs-text-field-gap);

		&::after {
			content: "";
			position: absolute;
			inset-block: var(--rs-unit-x1);
			inset-inline-start: 0;
			border-inline-start: 1px solid var(--rs-color-border-neutral-faded);
		}
	}
}

.root.--disabled {
	border-color: var(--rs-color-border-disabled);
	background: var(--rs-color-background-disabled-faded);

	&,
	& .input {
		color: var(--rs-color-foreground-disabled);
		cursor: not-allowed;
	}
}

@responsive .--size {
	@value small {
		--rs-text-field-gap: var(--rs-unit-x2);
		--rs-text-field-radius: var(--rs-radius-small);
		--rs-text-field-p-v: var(--rs-unit-x1);
		--rs-text-field-font-size: var(--rs-font-size-body-3);
		--rs-text-field-line-height: var(--rs-line-height-body-3);
		--rs-text-field-letter-spacing: var(--rs-letter-spacing-body-3);
		--rs-text-field-action-inset: var(--rs-unit-x1);
	}

	@value medium {
		--rs-text-field-gap: var(--rs-unit-x2);
		--rs-text-field-radius: var(--rs-radius-small);
		--rs-text-field-p-v: var(--rs-unit-x2);
		--rs-text-field-font-size: var(--rs-font-size-body-3);
		--rs-text-field-line-height: var(--rs-line-height-body-3);
		--rs-text-field-letter-spacing: var(--rs-letter-spacing-body-3);
		--rs-text-field-action-inset: var(--rs-unit-x1);
	}

	@value large {
		--rs-text-field-gap: var(--rs-unit-x3);
		--rs-text-field-radius: var(--rs-radius-medium);
		--rs-text-field-p-v: var(--rs-unit-x3);
		--rs-text-field-font-size: var(--rs-font-size-body-2);
		--rs-text-field-line-height: var(--rs-line-height-body-2);
		--rs-text-field-letter-spacing: var(--rs-letter-spacing-body-2);
		--rs-text-field-action-inset: var(--rs-unit-x2);
	}

	@value xlarge {
		--rs-text-field-gap: var(--rs-unit-x4);
		--rs-text-field-radius: var(--rs-radius-medium);
		--rs-text-field-p-v: var(--rs-unit-x4);
		--rs-text-field-font-size: var(--rs-font-size-body-2);
		--rs-text-field-line-height: var(--rs-line-height-body-2);
		--rs-text-field-letter-spacing: var(--rs-letter-spacing-body-2);
		--rs-text-field-action-inset: var(--rs-unit-x1);
	}
}

.root.--variant-faded {
	background: var(--rs-color-background-neutral-faded);
	border-color: transparent;

	&:not(:has(button:focus, a:focus, [tabindex="0"]:focus, [role="button"]:focus)):focus-within,
	&:has(label:active),
	&.--focused {
		border-color: var(--rs-color-border-primary);
	}
}

.root.--variant-headless {
	background: transparent;
	border-color: transparent;

	&:focus-within,
	&.--status-error,
	&.--status-error:focus-within,
	&.--status-error.--focused {
		border-color: transparent;
		box-shadow: none;
	}
}

.root.--status-error {
	border-color: var(--rs-color-border-critical);

	&:focus-within,
	&.--focused {
		border-color: var(--rs-color-border-primary);
	}
}

@media (--rs-viewport-s) and (hover: none) {
	.input {
		font-size: var(--rs-font-size-body-2) !important;
	}
}
