/* stylelint-disable plugin/browser-compat -- graceful degradation for Firefox */
@property --rs-table-fade-start {
	syntax: "<length>";
	initial-value: 0;
	inherits: false;
}

@property --rs-table-fade-end {
	syntax: "<length>";
	initial-value: 0;
	inherits: false;
}
/* stylelint-enable plugin/browser-compat */

.root {
	--rs-table-fade-size: var(--rs-unit-x8);

	overflow: auto;
}

@keyframes fade-start {
	from {
		--rs-table-fade-start: 0px;
	}

	to {
		--rs-table-fade-start: var(--rs-table-fade-size);
	}
}

@keyframes fade-end {
	from {
		--rs-table-fade-end: var(--rs-table-fade-size);
	}

	to {
		--rs-table-fade-end: 0px;
	}
}

@supports (animation-timeline: scroll(self inline)) {
	.root {
		--rs-table-fade-direction: to right;

		mask-image: linear-gradient(
			var(--rs-table-fade-direction),
			rgb(0 0 0 / 0%) 0,
			rgb(0 0 0 / 10%) calc(var(--rs-table-fade-start) * 0.2),
			rgb(0 0 0 / 35%) calc(var(--rs-table-fade-start) * 0.4),
			rgb(0 0 0 / 65%) calc(var(--rs-table-fade-start) * 0.6),
			rgb(0 0 0 / 90%) calc(var(--rs-table-fade-start) * 0.8),
			rgb(0 0 0 / 100%) var(--rs-table-fade-start),
			rgb(0 0 0 / 100%) calc(100% - var(--rs-table-fade-end)),
			rgb(0 0 0 / 90%) calc(100% - var(--rs-table-fade-end) * 0.8),
			rgb(0 0 0 / 65%) calc(100% - var(--rs-table-fade-end) * 0.6),
			rgb(0 0 0 / 35%) calc(100% - var(--rs-table-fade-end) * 0.4),
			rgb(0 0 0 / 10%) calc(100% - var(--rs-table-fade-end) * 0.2),
			rgb(0 0 0 / 0%) 100%
		);
		animation-name: fade-start, fade-end;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-timeline: scroll(self inline), scroll(self inline);
		animation-range:
			0 var(--rs-table-fade-size),
			calc(100% - var(--rs-table-fade-size)) 100%;
	}

	[dir="rtl"] .root {
		--rs-table-fade-direction: to left;
	}
}

.table {
	min-width: 100%;
	border-collapse: separate;
	overflow: hidden;
}

.row {
	transition: background-color var(--rs-duration-fast) var(--rs-easing-standard);

	&[tabindex] {
		cursor: pointer;
	}

	[data-rs-keyboard] &:focus {
		outline: none;
		z-index: var(--rs-z-index-relative);
		box-shadow: var(--rs-outline-shadow);
	}
}

.cell {
	--rs-table-p-vertical-s: 3;
	--rs-table-p-horizontal-s: 4;

	padding: calc(var(--rs-unit-x1) * var(--rs-table-p-vertical-s))
		calc(var(--rs-unit-x1) * var(--rs-table-p-horizontal-s));
	text-align: start;
	vertical-align: top;

	&:not(:last-child) {
		padding-inline-end: 0;
	}
}

.row:not(:first-child) .cell,
.head + .body .row:first-child .cell {
	border-top: 1px solid var(--rs-color-border-neutral-faded);
}

@each $align in start, center, end {
	.cell--align-$(align) {
		text-align: $(align);
	}
}

@each $align, $value in (start, center, end), (top, middle, bottom) {
	.cell--valign-$(align) {
		vertical-align: $(value);
	}
}

.cell--width-auto {
	white-space: nowrap;
}

.--row-highlighted {
	background-color: var(--rs-color-background-neutral-highlighted-faded);
}

.--border-outer .table {
	border-radius: var(--rs-radius-medium);
	border: 1px solid var(--rs-color-border-neutral-faded);
}

.--border-column .cell {
	&:not(:first-child) {
		border-inline-start: 1px solid var(--rs-color-border-neutral-faded);
	}

	&:not(:last-child) {
		padding-inline-end: calc(var(--rs-unit-x1) * var(--rs-table-p-horizontal-s));
	}
}
