.root {
	/* Add an offset in case overlay is rendered inside a scrolled container */
	--rs-overlay-offset-y: 0px;
	--rs-overlay-offset-x: 0px;

	position: fixed;
	overflow-x: clip;
	-webkit-overflow-scrolling: touch;

	/* Not using logical properties here because offset is calculated with scrollLeft */
	left: var(--rs-overlay-offset-x);
	top: var(--rs-overlay-offset-y);
	height: 100%;
	width: 100%;
	z-index: var(--rs-z-index-fixed);
	color: var(--rs-color-white);
	background-color: rgba(var(--rs-color-rgb-black), 0);
	opacity: 0;
	outline: none;
	isolation: isolate;

	/* Override default Tailwind reset */
	cursor: default !important;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.content {
	display: inline-block;
	vertical-align: middle;
	text-align: initial;
}

.root.--visible {
	background-color: rgba(var(--rs-color-rgb-black), var(--rs-overlay-opacity));
	opacity: 1;
}

.root.--click-through {
	color: inherit;
	pointer-events: none;
}

.root.--blurred {
	backdrop-filter: blur(3px);

	/* Applying blur causes some browsers (e.g. Chrome) to render a 1px border */
	left: calc(var(--rs-overlay-offset-x) - 1px);
	top: calc(var(--rs-overlay-offset-y) - 1px);
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}

.root.--click-through > *:not(.wrapper) {
	pointer-events: all;
}

.root.--click-through .content {
	pointer-events: all;
}

.root.--contained {
	position: absolute;
}

.root.--animated {
	transition: var(--rs-duration-medium) var(--rs-easing-accelerate);
	transition-property: background-color, opacity;

	&.--visible {
		transition-timing-function: var(--rs-easing-decelerate);
	}
}

.root.--overflow-auto {
	overflow: auto;
}
