.root {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: fixed;

	/* Applying blur causes some browsers (e.g. Chrome) to render a 1px border */
	inset: -1px;
	z-index: var(--rs-z-index-overlay);
	color: var(--rs-color-white);
	background-color: rgba(var(--rs-color-rgb-black), 0);
	opacity: 0;
	outline: none;

	/* Override default Tailwind reset */
	cursor: default !important;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.content {
	display: inline-block;
	vertical-align: middle;
	text-align: initial;
}

.root.--visible {
	background-color: rgba(var(--rs-color-rgb-black), var(--rs-overlay-opacity));
	opacity: 1;
}

.root.--click-through {
	color: inherit;
	pointer-events: none;
}

.root.--blurred {
	backdrop-filter: blur(3px);
}

.root.--click-through > *:not(.wrapper) {
	pointer-events: all;
}

.root.--click-through .content {
	pointer-events: all;
}

.root.--animated {
	transition: var(--rs-duration-medium) var(--rs-easing-accelerate);

	/* Using transform to keep the transparent overlay transitionEnd event */
	transition-property: background-color, transform, opacity;

	&.--visible {
		transition-timing-function: var(--rs-easing-decelerate);
	}
}
