.root {
	padding: var(--rs-unit-x1) var(--rs-unit-x2);
	min-width: calc(var(--rs-line-height-caption-1) + var(--rs-unit-x1) * 2);
	display: inline-flex;
	justify-content: center;
	vertical-align: top;
	background: var(--rs-color-background-neutral);
	color: var(--rs-color-on-background-neutral);
	border-radius: var(--rs-radius-small);
	transition: var(--rs-easing-standard) var(--rs-duration-fast);
	transition-property: color, background-color, border-color;
}

.--active {
	background: var(--rs-color-background-neutral);
}
