@responsive [style*="--rs-h-s:"] {
	@variable --rs-h 0;
}

@responsive .root {
	@value literal {
		--rs-h-resolved: var(--rs-h);
	}

	@value unit {
		--rs-h-resolved: calc(var(--rs-h) * var(--rs-unit-x1));
	}
}

[style*="--rs-h-s:"] {
	height: var(--rs-h-resolved);
}
