@responsive [style*="--rs-w-s:"] {
	@variable --rs-w 0;
}

@responsive .root {
	@value literal {
		--rs-w-resolved: var(--rs-w);
	}

	@value unit {
		--rs-w-resolved: calc(var(--rs-w) * var(--rs-unit-x1));
	}
}

[style*="--rs-w-s:"] {
	width: var(--rs-w-resolved);
}
